@import url('https://fonts.googleapis.com/css?family=Oswald|Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Unica+One&display=swap');

@font-face {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Unica One', cursive;
    src:url("Fonts/ShadowsIntoLight.ttf") format("Headline"),
        url("Fonts/Oswald[wght].ttf") format("BodyText"),
        url("Fonts/UnicaOne-Regular.ttf") format("section-header");
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    color: rgb(119, 119, 119);
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .7em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    /* border-bottom: 1px solid rgba(12, 11, 11, 0.3) */
}

.main-nav li {
    padding: 0 5%;
}

.main-header {
    background-color: rgba(0, 0, 0, .4);
    background-image: url("images/header_picture_1.png");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.section-header {
    font-family: 'Unica One', cursive; /*TODO: find a new nice font*/
    font-weight: normal;
    color: #555;
    text-align: center;
    font-size: 2.75em;
}

.main-nav a:hover {
    background-color: rgba(90, 72, 72, 0.4);
    border-radius: .3em;
}

.footer-nav a:hover {
    background-color: #444;
    border-radius: .6em;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: 'Shadows Into Light', cursive;
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 9em;
}

.header-addition {
    font-size: 2em;
}

.box {
    display: flex;
    align-items: center;
}

.index-image {
    width: 75px;
    border-radius: .3em;
    background-color: white;
    margin-right: 2em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: .5em auto;
    padding:0 1.5em ;
}

.soundcloud-player {    
    margin: .5em auto;
    width: 85%;
    padding: .2em;
}

.upcoming-release-row {
    border-bottom: 1px solid rgb(128, 128, 128); /*TODO: Ask conny what he prefers*/
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.release-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.release-row:last-child {
    border-bottom: none;
}

.release-item /*TODO: Find a better name than "item"*/ {
    display: inline-block;
    padding-right: .5em;
    font-size: 1.3em;
}

.release-name {
    color: #555;
    font-weight: bold;
    width: 31%;
}

.release-type {
    width: 10%;
}

.release-date {
    width: 30%;
}

.release-btn {
    max-width: 29%;
}

.main-footer {
    background-color: #555;
    color: white;
    align-items: center;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li{
    padding: 0 .5em;
}

.footer-nav img {
    width: 40px;
    height: 40px;
    border-radius: .5em;
}

.btn-index-link { /*TODO: Conny has to say how the buttons exactly have to look*/
    cursor: pointer;
    text-align: center;
    padding: .4em;
    background-color:#555;
    color: white;
    border: none;
    border-radius: .4em;
    font-size: 1.05em;
}

.btn-index-link:hover {
    background-color: #333;
}
